.container-vitrini-social-midia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-vitrini-social-midia h1 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
}

.container-vitrini-social-midia p {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.container-vitrini-ancora {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  border-bottom: solid #000 1px;
  color: #000;
}
.container-vitrini-button {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.1px;
  width: 148px;
  height: 40px;
  padding: 12px 24px 12px 24px;
  gap: 10px;
  opacity: 1;
  background: #ffffff;
}
